#imgOutput-form {
  padding-left: 20px;
}
img {
  width: 300px;
  height: 300px;
}

#hidePhoto {
  display: none;
}

.trackOutput {
  display.none;
}

#imageClassHidden {
  display: none;
}

#classImg1 {
  display: none;
}
#classImg2 {
  display: none;
}
#classImg3 {
  display: none;
}
