img {
  width: 300px;
  height: 300px;
}

form .form-group {
  display: none;
}

label #showImage-group {
  display: none;
}

#imgOutput-form {
  padding-left: 20px;
}

#showTrImg1 {
visibility: hidden;
}

#showTrImg2 {
visibility: hidden;
}

#showTrImg3 {
visibility: hidden;
}
